<div class="topnav">
    <a {% if request.view == 'home' %} class="active" {% endif %} href="{% url 'home' %}">Home</a>
    <a {% if request.view == 'testMgr' %} class="active" {% endif %} href="{% url 'testMgr' %}">Test Mgr</a>
    <a {% if request.view == 'testRun' %} class="active" {% endif %} href="{% url 'testRun' %}">Test Runs</a>
    <a href="#about">About</a>

    {% if user.is_authenticated %}
    <div class="dropdownNav" style="float: right">
        <button class="dropbtn">{{ user.username }}&nbsp;&#8681;</button>
        <div class="dropdownNav-content">
            <a href="{% url 'product' %}">Products</a>
            <a href="{% url 'version' %}">Versions</a>
            <a href="{% url 'component' %}">Components</a>
            <a href="{% url 'tag' %}">Tags</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    {% else %}
    <div style="float: right">
        <a class="active" href="{% url 'login' %}">Login</a>
    </div>
    {% endif %}
</div>