{% extends 'testMgr/newBaseTemplate.html' %}

{% load static %}

{% block bodyParam %}
onload="getSuites()"
{% endblock %}

{% block formParams %}
onsubmit="toJson()"
{% endblock %}

{% block subTitle %}New{% endblock %}

{% block formContent %}

{% load formTags widget_tweaks %}

<div class="divTable" style="width: 100%;">
    <div class="divTableRow">
        <div class="divTableCell">

            <div class="divTable">
                <div class="divTableRow">
                    <div class="divTableCell">
                        {{ form.name.label_tag }}
                        {% render_field form.name class=form.name|input_class %}
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">
                        {{ form.description.label_tag }}
                        {% render_field form.description class=form.description|input_class %}
                        <small class="form-text text-muted">
                            {{ form.description.help_text|safe }}
                        </small>
                    </div>
                </div>
            </div>

        </div>
        <div class="divTableCell" style="width: 60%;">

            <div class="divTable">
                <div class="divTableRow">
                    <div class="divTableCell">
                        {{ form.suites.label_tag }}
                        {% render_field form.suites class=form.suites|input_class %}
                    </div>
                    <div class="divTableCell">
                        {{ form.product.label_tag }}
                        {% render_field form.product class=form.product|input_class %}
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">
                        {{ form.component.label_tag }}
                        {% render_field form.component class=form.component|input_class %}
                    </div>
                    <div class="divTableCell">
                        {{ form.tag.label_tag }}
                        {% render_field form.tag class=form.tag|input_class %}
                    </div>
                </div>
            </div>

            <div class="divTable">
                <div class="divTableRow">
                    <div class="divTableCell">
                        {{ form.notes.label_tag }}
                        {% render_field form.notes class=form.notes|input_class %}
                        <small class="form-text text-muted">
                            {{ form.notes.help_text|safe }}
                        </small>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="divTable" style="width: 100%;">
    <div class="divTableRow">
        <div class="divTableCell">
        </div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">
        </div>
    </div>
    <div class="divTableRow" style="border-top: 1px solid rgba(0, 0, 0, .1)">
        <div class="divTableCell">
        </div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">
        </div>
    </div>
</div>

<div class="divTable" style="width: 100%;">
    <div class="divTableRow">
        <div class="divTableCell" style="width: 45%;">
            {{ form.actions.label_tag }}
            {% render_field form.actions class=form.actions|input_class %}
            <div class="invalid-feedback" id="div_actions"></div>
        </div>
         <div class="divTableCell" style="width: 45%;">
            {{ form.expected.label_tag }}
            {% render_field form.expected class=form.expected|input_class %}
             <div class="invalid-feedback" id="div_expected"></div>
         </div>
        <div class="divTableCell" style="vertical-align:bottom; width: 10%;">
            <button class="btn btn-primary" type="button" onclick="addStep()">Add</button>
            <div class="invalid-feedback" id="adjust">&nbsp;</div>
         </div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">
            <select id="list_actions" multiple="multiple" style="width:100%; height:400px;" disabled>
            </select>
        </div>
        <div class="divTableCell">
            <select id="list_expected" multiple="multiple" style="width:100%; height:400px;" disabled>
            </select>
        </div>
        <div class="divTableCell">
        </div>
    </div>
</div>
<div class="divTable" style="width: 25%;">
    <div class="divTableRow">
        <div class="divTableCell" style="width: 33%;">
            <button type="submit" class="btn btn-success">Add</button>
        </div>
        <div class="divTableCell" style="width: 33%;">
            <button class="btn btn-primary" type="button" onclick="openTemplate('newCase')">Clear</button>
        </div>
        <div class="divTableCell" style="width: 33%;">
            <button type="button" class="btn btn-danger" onclick="openTemplate('case')">Cancel</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script2 %}
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'js/getSuites.js' %}"></script>
<script>
    // TODO: scroll o the last element added
    function addStep() {
        document.getElementById("div_actions").innerText = '';
        document.getElementById("div_expected").innerText = '';
        document.getElementById("div_actions").style.display = "none";
        document.getElementById("div_expected").style.display = "none";
        document.getElementById("adjust").style.display = "none";

        var actionsVal = document.getElementById("id_actions").value;
        var expectedVal = document.getElementById("id_expected").value;

        if (document.getElementById("list_actions").childElementCount > 0) {
            document.getElementById("list_actions").childNodes.forEach(
                function(element) {
                    element.selected = false;
                }
            );
        }

        if (document.getElementById("list_expected").childElementCount > 0) {
            document.getElementById("list_expected").childNodes.forEach(
                function(element) {
                    element.selected = false;
                }
            );
        }

        if (actionsVal == "") {
            document.getElementById("div_actions").innerText = 'Insert an action.';
            document.getElementById("div_actions").style.display = "block";
            document.getElementById("adjust").style.display = "block";
            return null;
        }

        if (expectedVal == "") {
            document.getElementById("div_expected").innerText = 'Insert an expected.';
            document.getElementById("div_expected").style.display = "block";
            document.getElementById("adjust").style.display = "block";
            return null;
        }

        $("#list_actions").append('<option value="' + actionsVal + '" selected>' + actionsVal + '</option>');
        $("#list_expected").append('<option value="' + expectedVal + '" selected>' + expectedVal + '</option>');

        $("#list_actions").selected = true;

        document.getElementById("id_actions").value = "";
        document.getElementById("id_expected").value = "";
        document.getElementById("id_actions").focus();
    }

    function toJson() {
        var countA = 0;
        var countE = 0;
        var actionsJson;
        var expectedJson;

        if (document.getElementById("list_actions").childElementCount > 0) {
            actionsJson = []; /*new Array(document.getElementById("list_actions").childElementCount);*/
            expectedJson = []; /*new Array(document.getElementById("list_actions").childElementCount);*/

            document.getElementById("list_actions").childNodes.forEach(
                function(element) {
                    if (countA > 0) {
                        actionsJson[countA - 1] = element.value + "£";

                    }
                    countA = countA + 1;
                }
            );

            //count = 0;

            document.getElementById("list_expected").childNodes.forEach(
                function(element) {
                    if (countE > 0) {
                        expectedJson[countE - 1] = element.value + "£";

                    }
                    countE = countE + 1;
                }
            );

            document.getElementById("id_actions").value = actionsJson;
            document.getElementById("id_expected").value = expectedJson;
        }



        console.log(actionsJ);
        return false;
    }
</script>
{% endblock %}