/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover, .dropdownNav:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active, .dropdownNav:hover .dropbtn {
  background-color: #4CAF50;
  color: white;
}

.navbar a:hover, .dropdownNav:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

/* The dropdown container */
.dropdownNav {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdownNav .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdownNav-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right:0
}

/* Links inside the dropdown */
.dropdownNav-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdownNav-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdownNav:hover .dropdownNav-content {
  display: block;
}