{% extends 'baseTemplate.html' %}

{% load static %}

{% block title %}
Test Tcms
{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <td colspan="2">
            <button type="button" class="btn btn-primary" onclick="newProd()">New</button>
        </td>
    </tr>
    <tr>
        <td width="40%">
            <ul class="list-group">
                {% for item in items %}
                <li class="list-group-item" style="cursor: pointer;" id="{{ item.id }}" onclick="detail()">{{ item.name }}</li>
                {% endfor %}
            </ul>
        </td>
        <td width="60%">
            <div id="divNew" style="display: none;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-6 col-sm-8">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">New Product</h3>
                                    <form method="post" novalidate>
                                        {% csrf_token %}
                                        {% include 'include/form.html' %}
                                        <div style="float: left;">
                                            <button type="submit" class="btn btn-success">Add</button>
                                        </div>
                                        <div style="float: right;">
                                            <button type="submit" class="btn btn-danger"
                                                    formaction="{% url 'product' %}">Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divDetail" style="display: none;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-6 col-sm-8">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Detail</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/hideDiv.js' %}"></script>
<script type="text/javascript">
function detail() {
    var x = document.getElementById('divNew');
    if (x.style.display === "none") {
        /*x.style.display = "block";*/
    } else {
        x.style.display = "none";
    }

    var y = document.getElementById('divDetail');
    if (y.style.display === "none") {
        y.style.display = "block";
    } else {
        y.style.display = "none";
    }
}
function newProd() {
    var x = document.getElementById('divDetail');
    if (x.style.display === "none") {
        /*x.style.display = "block";*/
    } else {
        x.style.display = "none";
    }

    var y = document.getElementById('divNew');
    if (y.style.display === "none") {
        y.style.display = "block";
    } else {
        y.style.display = "none";
    }
}
</script>
{% endblock %}