{% extends 'baseTemplate.html' %}

{% load static %}

{% block bodyParam %}
onload="clickItem('{{ request.view }}')"
{% endblock %}

{% block title %}
Test Tcms
{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <td>
            <button type="button" class="btn btn-primary" onclick="newItem('newTag')">New</button>
        </td>
        <td><h3>{{ request.title }}</h3></td>
    </tr>
    <tr>
        <td width="40%">
            <ul class="list-group" id="listGroup">
                {% for item in items %}
                <li class="list-group-item" style="cursor: pointer;" id="{{ item.id }}"
                    onclick="detailItem('detailTag', '{{ item.id }}')">{{ item.name }}</li>
                {% endfor %}
            </ul>
        </td>
        <td width="60%">
            <div class="container">
                <iframe id="frame" width="100%" height="500px" style="border: none;"></iframe>
            </div>
        </td>
    </tr>
</table>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/itemDetail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/itemNew.js' %}"></script>
<script type="text/javascript" src="{% static 'js/listSelectItem.js' %}"></script>
{% endblock %}